.top-bar
  チャットスペースが作成されました。
.left-contents
  .top-box
    %h3.name 名前
    %a(href= "/groups/new")
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    %a(href= "/users/edit")
  .bottom-box
    %h4.group-name グループ名
    %h5.message メッセージ