.top-bar
  チャットスペースが作成されました。
.left-contents
  .top-box
    %h3.name 名前
    %i.fa.fa-cog
    %i.fa.fa-edit
  .bottom-box
    .firstbox
      %h4.group-name グループ名
      %h5.message メッセージ
    .secondbox
      %h4.group-name グループ名
      %h5.message メッセージ
    .thirdbox
      %h4.group-name グループ名
      %h5.message メッセージ
.right-contents
  .header
    %h3.groupname グループ名
    %p.membername Member:メンバー名
    %a.edit-botton 
    %hr
  .messages-contents
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
  .form-contents
