.top-bar
  チャットスペースが作成されました。
.left-contents
  .top-box
    %h3.name 名前
    = link_to "#" do
      %i.fa.fa-cog
    = link_to "#" do
      %i.fa.fa-edit
  .bottom-box
    .box
      %h4.group-name グループ名
      %h5.message メッセージ
    .box
      %h4.group-name グループ名
      %h5.message メッセージ
.right-contents
  .header
    .edit-button Edit
    %h3.groupname グループ名
    %p.membername Member:メンバー名
    %hr
  .messages-contents
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
    .message-box
      %h4.name 名前
      %p.date 2018/06/30 06:27:07
      %h5.message なるほど
  .form-contents
    .footer
      %form.form
      %input.message(placeholder="type a message" type="text")
      %label
        %span.filelabel
          %i.fa.fa-image
        %input.file(type="file" name="datafile" id="filesend")
        %input.submit(type="submit" name="commit" value="Send" )
