@import "variable.scss";
	.left-contents{
	  height: 100%;
	  width: 300px;
	  float: left;
	  background-color:#2f3e51;
		.top-box{
		  background-color:#253141;
		  font-size: 16px;
		  font-weight: bold;
		  padding-top: 20px;
		  color: #FFFFFF;
		  height: 100px;
		  width: 100%;
		  .name{
		  float:left;
		  padding-left: 20px;
		  padding-top: 20px;
		  }
		  .fa.fa-cog{
		  float:right;
		  padding-top: 20px;
          padding-right: 20px;
		  }
		  .fa.fa-edit{
		  float:right;
		  padding-top: 20px;
          padding-right: 20px;
		  }
		}
		.bottom-box{
		  height: 535px;
			.group-name{
			font-size: 15px;
			padding-top: 20px;
			padding-bottom: 5px;
			padding-left: 20px;
			color: #FFFFFF;
		  }
			.message{
			font-size: 11px;
			padding-left: 20px;
			padding-bottom: 40px;
			color: #FFFFFF;
		  }
		}
	 }