.main-contents {
    height: 100vh;
    width: calc(100% - 300px);
    float: right;
    position: relative;
    &__header {
        height: 100px;
        background-color:$white;
        width: 100%;
        padding-bottom: 30px;
        .edit-button {
            font-size: 15px;
            color:#5BADEA;
            border: 1px solid #5BADEA;
            line-height: $gutter-large;
            width: 50px;
            padding: 0 $gutter;
            margin-top: 28px;
            margin-right: $gutter-large;
            text-align: center;
            float: right;
        }
        .group-name {
            float: left;
            margin-top: 35px;
            padding-left: $gutter-large;
            color: #333333;
            font-size: $gutter;
            margin-bottom: 15px;
        }
        .member-name {
            padding-left: $gutter-large;
            padding-bottom: 14px;
            color: #999999;
            font-size: 12px;
            clear: both;
        }
        .hr {
            height: 1px;
            border-color:#eeeeee;
            border-style: solid;
            border-width: 1px 0px 0px 0px;
        }
    }
    &__messages {
        height: calc(100vh - 90px - 130px);
        overflow-y: scroll;
        &__box {
        padding-top: 46px;
            .name {
                font-size: 16px;
                padding-top: $gutter-large;
                padding-left: $gutter-large;
                color: #434A54;
                font-weight: bold;
                display: inline-block;
            }
            .date {
                font-size: 12px;
                padding-left: $gutter-large;
                color: #999999;
                display: inline-block;
                padding-top: 43px;
            }
            .message__content {
                font-size: 14px;
                padding-top: 10px;
                padding-left: $gutter-large;
                color: #434A54;
                clear: both;
            }
            .message__image{
                padding-top: 10px;
                padding-left: $gutter-large;
                clear: both;
            }
        }
    }
    &__form {
        background-color:#AAAAAA;
        height: 90px;
        width:  100%;
        position:absolute;
        bottom: 0;
        .form {
            height: 50px;
            width: 100%;
            padding-top: $gutter;
            padding-left: 25px;
            position: absolute;
            &__message {
                width: 85%;
                font-size: 16px;
                color: #434A54;
            }

            .fa{
                position: absolute;
                right: 20%;
                top: 25px;
            }
            .hidden {
                display: none;
            }
            &__submit{
                position: absolute;
                width: 50px;
                margin-left: 5px;
                background-color:#38AEF0;
                color: $white;
            }
        }
    }
}
