@import "variable.scss";
	.right-contents{
	  height: 100%;
	  width: calc(100% - 300px);
	  float: right;
	  .header{
		  height: 100px;
		  background-color:#FFF;
		  .groupname{
       float: left;
		   margin-top: 35px;
		   padding-left: 40px;
		   color: #333333;
		   font-size: 20px;
		   margin-bottom: 15px;
		  }
		  .membername{
		   padding-left: 40px;
		   padding-bottom: 14px;
		   color: #999999;
		   font-size: 12px;
       clear: both;
		  }
		  .edit-button {
          font-size: 15px;
          color:#5BADEA;
          border: 1px solid #5BADEA;
          line-height: 40px;
          width: 50px;
          padding: 0 20px;
          margin-top: 28px;
          margin-right: 40px;
          text-align: center;
          float: right;
          }
          .hr{
          	height: 1px;
          	border-color:#eeeeee;
          	border-style: solid;
          	border-width: 1px 0px 0px 0px;
          }
        }
      .messages-contents{
       	  height: 590px;
       	  width: calc(100% - 300px);
		   .message-box{
        padding-top: 46px;
		    .name{
		    font-size: 16px;
		    padding-top: 40px;
		    padding-left: 40px;
		    color: #434A54;
		    font-weight: bold;
        float: left;
		    }
		    .date{
		    font-size: 12px;
		    padding-left: 40px;
		    color: #999999;
        float: left;
        padding-top: 43px;
		    }
		    .message{
		    font-size: 14px;
		    padding-top: 10px;
		    padding-left: 40px;
		    color: #434A54;
        clear: both;
		    }
		  }
        }
       .form-contents{
       	 background-color:#AAAAAA;
		     padding-left: 40px;
         height: 90px;
         width: calc(100% - 300px);
         padding-right: 40px;
         position: absolute;
         bottom: 0;
          .footer{
          	height: 50px;
          	padding-top: 20px;
          	padding-left: 10px;
          	.message{
          	width: 85%;
          	font-size: 16px;
          	color: #434A54;
            position: relative;
          	}
            .fa{
            position: absolute;
            top: 26px;
            right: 190px;
            }
            #filesend {
            display: none;
            }
          	.submit{
            margin-left: 15px;
          	background-color:#38AEF0;
          	color: #FFFFFF;
          	}
          }
        }
    }