.sidebar {
    height: 100vh;
    width: 300px;
    float: left;
    background-color:#2f3e51;
    position: fixed;
    margin-top: 25px;
    &__user {
        background-color:#253141;
        font-size: 16px;
        font-weight: bold;
        padding-top: $gutter;
        color: $white;
        height: 100px;
        width: 100%;
        &__name {
            float:left;
            padding-top: $gutter;
            padding-left: $gutter;
        }
        .fa {
            float:right;
            padding-top: $gutter;
            padding-right: $gutter;
            color: $white;
        }
    }
    &__group {
        &__box {
            &__groupname {
                font-size: 15px;
                padding-top: $gutter;
                padding-left: $gutter;
                padding-bottom: 5px;
                color: $white;
            }
            &__message {
                font-size: 11px;
                padding-left: $gutter;
                padding-bottom: $gutter;
                color: $white;
            }
        }
    }
}
