@import "./reset";

.top-bar{
  background-color: #38AEF0;
  text-align:center;
  height: 25px;
  width: 100%;
  color:#FFFFFF
 }


	.left-contents{
	  height: 100%;
	  width: 300px;
	  background-color:#2f3e51;
	  float: left;

		.top-box{
		  background-color:#253141;
		  font-size: 16px;
		  font-weight: bold;
		  color: #FFFFFF;
		  padding-bottom: 20px;
		  height: 100px;
		  width: 100%;
		  .name{
		  	padding-left: 20px;
		  	padding-top: 35px
		  }
		}
		.bottom-box{
			height: 500px;
			.group-name{
			font-size: 15px;
			padding-top: 20px;
			padding-bottom: 5px;
			padding-left: 20px;
			color: #FFFFFF;
		  }
			.message{
			font-size: 11px;
			padding-left: 20px;
			padding-bottom: 40px;
			color: #FFFFFF;
		  }
		}
	 }
	.right-contents{
	  height: 100%;
	  width: calc(100% - 300px);
	  float: right;
	   .header{
		  height: 85px;
		  background-color:#FFFFFF;
		  .groupname{
		   margin-top: 35px;
		   padding-left: 40px;
		   color: #333333;
		   font-size: 20px;
		   margin-bottom: 15px;
		  }
		  .membername{
		   padding-left: 40px;
		   padding-bottom: 14px;
		   color: #999999;
		   font-size: 12px;
		  }
		  .edit-botton{
		   margin-top: 28px;
		   height: 40px;
		   text-align:center;
          }
          .hr{
          	height: 1px;
          	border-color:#eeeeee;
          	border-style: solid;
          	border-width: 1px 0px 0px 0px;
          }
        }
       .messages-contents{
       	  height: 500px;
       	  background-color:#AAAAAA;
		  .message-box{
		    .name{
		    font-size: 16px;
		    padding-top: 40px;
		    padding-left: 40px;
		    color: #434A54;
		    font-weight: bold;
		    }
		    .date{
		    font-size: 12px;
		    padding-left: 40px;
		    color: #999999;
		    }
		    .message{
		    font-size: 14px;
		    padding-top: 10px;
		    padding-left: 40px;
		    color: #434A54;
		    }
		  }
        }
        .form-contents{
        }
    }
